@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Noto+Sans:wght@400;700&display=swap');

html,body {
    width: 100%;
}

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #f5f6fa;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-top: 1.8rem;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem;
    margin: 30px 0 20px 0;
    font-weight: 700;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 10px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

a, a:visited {
    color: royalblue;
    text-decoration: none;
}

.header {
    width: 100vw;
    left: 0;
    position: absolute;
    top: 0;
    height: 50vh;
    background: #000;
    display: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.section {
    margin-top: 50px;
}

.description {
    font-size: 18px;
    margin-top: 20px;
    line-height: 2;
}

.box {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, .2));
    overflow: hidden;
    margin-top: 20px;
}

.code {
    font-family: 'Fira Code', monospace;
    padding: 20px;
    line-height: 1.4;
    border-radius: 20px 20px 0 0;
}

.code::-webkit-scrollbar {
    height: 10px;
}
  
.code::-webkit-scrollbar-track {
background: #e0e0e0;
}

.code::-webkit-scrollbar-thumb {
background: #888;
}

.code::-webkit-scrollbar-thumb:hover {
background: #555;
}

.result {
    padding: 20px;
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.properties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.class {
    /* color: #400c21;
    background: #ffbcf7; */
    color: #400c21;
    background: #ffbcf793;
    padding: 5px;
    font-family: 'Fira Code', monospace;
    letter-spacing: -0.5px;
    font-size: 18px;
}

.prop-wrp {
    font-family: 'Fira Code', monospace;
    letter-spacing: -0.5px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
}

td .prop-wrp {
    margin-left: 0;
    margin-top: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

td .prop-wrp .class:not(:first-child){
    margin-top: 10px;
}

.prop {
    display: inline-block;
    color: #0324ab;
    background: #edf0fc;
    padding: 5px;
}

td .class {
    padding: 2px 5px;
    font-size: 16px;
}

td .prop {
    padding: 2px 5px;
    white-space: nowrap;
}

.class:target,
.prop:target {
    background: yellow;
    color: #000;
    font-weight: 700;
    letter-spacing: 0;
}

.prop.inline {
    display: inline;
    margin: 0;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
    font-weight: 400;
}

.hljs-name,
.hljs-selector-class {
    color: hsl(338, 85%, 74%);
}

.hljs-attr,
.hljs-attribute {
    color: hsl(39, 100%, 95%);
}

.hljs-string,
.hljs-number {
    color: hsl(44, 74%, 68%);
}

table {
}

table th {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table td, table th{
    padding: 8px 15px;
    border:1px solid #dfe2e5;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 1.5;
    color:#24292e;
    vertical-align: middle;

}

.variables-table tr td:nth-child(4){
    padding:20px 15px;
}